button[class^="countries"]:active {
  background: rgba(0, 0, 0, 0.363);
}
.countries__last-update {
  grid-area: lastUpdate;
  width: 100%;
  height: 1rem;
  text-align: center;
}

.countries__default {
  grid-area: defaultButton;
  width: 100%;
  height: 60px;
}
.countries__default-button {
  width: 100%;
  height: 100%;
  text-align: center;
}

.countries__list {
  grid-area: list;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.countries__item {
  position: relative;
  width: 100%;
  height: 60px;

  display: grid;
  grid-template-columns: 2fr 60px 5fr;
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  text-shadow: 3px 0px 20px rgb(0, 0, 0);
  align-items: center;
  text-align: center;
}
.countries__list :first-child .countries__item {
  border-radius: 20px 20px 0 0;
}
.countries__list :last-child .countries__item {
  border-radius: 0 0 20px 20px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}
.countries__item .countries__data {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 5px 0 5px;
}
.countries__flag {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.countries__country-name {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(1px);
  align-items: center;

  overflow: hidden;
  text-overflow: ellipsis;
}
