.footer {
  display: flex;
  justify-content: space-around;
  color: rgba(255, 255, 255, 0.6);
}
.autors {
  display: flex;
  align-items: center;
}
.rsschool {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo {
  width: 90px;
  height: 30px;
  background-image: url(https://rs.school/images/rs_school_js.svg);
}
