body {
  margin: 0;
  padding: 0;
}

.app-container {
  width: 100vw;
  height: 100vh;
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, minmax(50px, 1fr)) minmax(30px, auto);
  grid-template-areas:
    "countries countries map map map map map map"
    "countries countries map map map map map map"
    "countries countries map map map map map map"
    "countries countries map map map map map map"
    "countries countries map map map map map map"
    "countries countries map map map map map map"
    "countries countries map map map map map map"
    "countries countries info info info graph graph graph"
    "countries countries info info info graph graph graph"
    "countries countries info info info graph graph graph"
    "countries countries info info info graph graph graph"
    "countries countries info info info graph graph graph"
    "footer footer footer footer footer footer footer footer";
}

.countries {
  grid-area: countries;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 4fr 60px;
  grid-template-areas:
    "search"
    "list"
    "sort";
  background-color: rgb(206, 62, 62);
}

.info {
  grid-area: info;
  width: 100%;
  height: 100%;
  background-color: rgb(47, 77, 131);
}

.graph {
  grid-area: graph;
  width: 100%;
  height: 100%;
  background-color: rgb(96, 172, 115);
}

.map {
  grid-area: map;
  width: 100%;
  height: 100%;
  background-color: rgb(160, 46, 135);
  overflow: hidden;
}

.footer {
  grid-area: footer;
  width: 100%;
  height: 100%;
  background-color: rgb(15, 197, 143);
}

@media screen and (max-width: 1340px) {
  .app-container {
    grid-template-areas:
      "countries countries countries countries map map map map"
      "countries countries countries countries map map map map"
      "countries countries countries countries map map map map"
      "countries countries countries countries map map map map"
      "countries countries countries countries map map map map"
      "countries countries countries countries map map map map"
      "countries countries countries countries map map map map"
      "countries countries countries countries map map map map"
      "info info info info graph graph graph graph"
      "info info info info graph graph graph graph"
      "info info info info graph graph graph graph"
      "info info info info graph graph graph graph"
      "footer footer footer footer footer footer footer footer";
  }
}

@media screen and (max-width: 768px) {
  .app-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(300px, 1fr)) minmax(30px, auto);
    grid-template-areas:
      "countries"
      "info"
      "graph"
      "map"
      "footer";
  }
}

.hide {
  display: none;
}
