.countries__search {
  grid-area: search;
  width: 100%;
  display: flex;
  justify-content: center;
}

.countries__input {
  width: 70%;
  height: 50px;
  padding: 5px;
  border: 1px solid;
}

.countries__input::placeholder {
  color: rgba(255, 255, 255, 0.322);
}
