.countries__sort {
  display: flex;
  justify-content: center;
}
.countries__sort-container {
  width: 50%;
  height: 50px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  border: 1px solid;
}
.countries__sort-method {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: wheat;
}
.countries__sort-type {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
